{% extends "base.html" %}
{% load static %}

{% block content %}

<style>
    .dashboard {
        padding: 180px 8% 100px;
        text-align: center;
    }

    .upload-box {
        border: 2px dashed #00ff88;
        padding: 50px;
        border-radius: 15px;
        margin: 30px auto;
        width: 420px;
        cursor: pointer;

        background: rgba(255,255,255,0.05);
        backdrop-filter: blur(15px);
    }

    .result-box {
        margin-top: 25px;
        font-size: 20px;
    }

    .real { color: #00ff88; }
    .fake { color: red; }

    .history {
        margin-top: 40px;
    }

    .history li {
        margin: 8px 0;
        color: #8b949e;
    }


    .btn-main {
    background: linear-gradient(135deg, #1ab957, #077a3b66);
    color: #000;
    border: none;
    padding: 12px 28px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s ease;
    box-shadow: 0 0 10px rgba(0, 255, 204, 0.5);
}

.btn-main:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(0, 255, 204, 0.9);
}
</style>

<section class="dashboard">

    <h2>Upload Audio</h2>

    <!-- 🔥 REAL FORM -->
    <form action="{% url 'predict' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="hidden" name="lang" value="en">

        <div class="upload-box" onclick="document.getElementById('audioInput').click()">
            <input type="file" name="audio" id="audioInput" accept=".wav,.mp3" hidden required>
            <p>🎧 Drag & Drop Audio or Click to Upload</p>
        </div>

     <button type="submit" class="btn-main">Detect</button>c
    </form>

    <!-- 🔥 RESULT FROM BACKEND -->
    {% if result %}
    <div class="result-box">
        <h3>
            Result:
            <span class="{% if result == 'Real Voice' %}real{% else %}fake{% endif %}">
                {{ result }}
            </span>
        </h3>
        <p>Confidence: {{ confidence }}%</p>
    </div>
    {% endif %}

    <!-- 🔥 HISTORY FROM DATABASE -->
    <div class="history">
        <h3>History</h3>
        <ul>
            {% for item in request.user.prediction_set.all %}
                <li>
                    {{ item.result }} ({{ item.confidence|floatformat:2 }}%)
                </li>
            {% empty %}
                <li>No history yet</li>
            {% endfor %}
        </ul>
    </div>

</section>

{% endblock %}